$green: #00CC99;
$white: #FCFCFC;
$red: #FF0043;
$black: #1B1B1B;
$grey: #9C9C9C;
$light-grey: #f7f7f7;
$turq: #00cc99;
$light-turq: rgba(0,204,153,.1);
$blue: #006ADA;
$dark-grey: #414141;
$border-grey: #ECECEC;

$mg: 15px;
$dg: 20px;

$tab-dark-grey: #bebebe;
$tab-grey: #939393;